<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/groups.css">
    <link rel="stylesheet" href="/bills.css">
    <title>Trips</title>
</head>

<body>
  <div class="container-bills">
    <H1>Bills of group {{name}}</H1>
{{#each bills}}
<div class="row">
  <b>{{amount}}eu </b>| {{description}}
</div>
{{/each}}
<div class="card-body">
  <form action="/bills" method="POST">
    <div class="form-group">
      <h3>NEW BILL</h3>
      <input class="form-control" hidden="true" id="groupId" name="groupId" value="{{groupId}}">
      <label for="groupId">Ammount:</label>
      <input class="form-control" id="amount" name="amount" placeholder="Enter amount">
      <label for="groupId">Description:</label>
      <input class="form-control" id="description" name="description" placeholder="Enter description">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
</div>
</body>

</html>